.body {
    background-color: black;
    height: 100%;
}
@-webkit-keyframes swallow {
    from {
        background-position: -4016 16px;
    }
    12% {
        background-position: -3514 14px;
    }
    25% {
        background-position: -3012 12px;
    }
    37% {
        background-position: -2510 10px;
    }
    50% {
        background-position: -2008 8px;
    }
    62% {
        background-position: -1506 6px;
    }
    75% {
        background-position: -1004 4px;
    }
    87% {
        background-position: -502 2px;
    }
    to  {
        background-position: -00 0px;
        animation-duration: 2s;


    }
}
.img {
    width: 200px;
    height: 100%;
    margin: auto;
    transition-timing-function: ease-in-out;
    background-position: -4016 16;
    background-image: url(swallow/swallow.png);
    background-repeat: no-repeat;



}
.img:hover {
    animation: swallow 0.5s steps(1) infinite;
    animation-direction: alternate;
}
