.nav, .boxes, .footer,  .footer form  {
    display: flex;
    flex-flow: row wrap;
}
.nav {
    justify-content: space-between;
}
.nav a {
    width: 23%;
}
.boxes div {
    flex: 1 1 250px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 10px 0 10px;
    background-color: rgba(0,0,0,.1);
    display: flex;
    flex-flow: column;
}
.boxes .more {
    margin-top: auto;
}
.signup label {
    width: 100%;
}

.footer .copyright {
    flex: 2 1 500px;
    margin-right: 30px;
}
.footer .signup {
    flex: 1 1 250px;
}
